/* *Here we import our global font for our page: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *Here we set our global vars value: */
:root{

    /* * global font style: */
    --global-font: "Poppins", sans-serif;

    /* * Radius size: */
    --app-button-radius: 1rem;

    /* *Titles size */
    --main-titles-size:2.3rem;
    --sub-titles-size:1.5rem;
    --title-size:1.2rem;
    --section-main-title-span: 2.4rem;;

    /* *Service titles size: */
    --service-title-span-size: 1.6rem;
    --service-title-font-size: 1.5rem;

    /* *Benefits titles size */
    --benefit-title-font-size: 1.4rem;
    --benefit-title-span-font-size: 1.5rem;

    /* * Font size */
    --normal-font-size:1rem;

    /* * Links size: */
    --link-font-size:1.1rem;

    /* *Icons size */
    --access-icon-width: 2.5rem;
    --access-icon-height: 2.5rem;

    /* *Slider component dimensions: */
    --slider-image-container-width: 800px;
    --slider-image-container-height: 500px;

    --web-app-image-width: 740px;
    --web-app-image-height: 440px; 

    --phone-app-image-width: 350px;
    --phone-app-image-height: 500px;

    /*Animation move value*/
    --slider-animation-translate-size: 1rem;

    /* * Images size: */

    /* * Buttons size: */
    --app-button-width: 35%;
    --app-button-height: 3rem;

    /* * Colors of the page */
    --font-color:#212529;

    --background-color: color-mix(in srgb-linear, white 33%, #0ceee3 67%);

    --component-color: #3f5bd6;

    --benefit-title-span-color: #45d10e;

    --main-section-title-span-color: #07c1e2;

    --service-title-span-color: #0463d1;

    --main-title-color: #0b8b76;
    --main-span-color: #035891;

    --hover-main: #10c4a6;
    --hover-main-span: #1177bb;

    --app-button-color: #2342cf;
    --app-button-color-text:whitesmoke;
    --app-button-hover-color: #0b7afa;

    
    

    /* * General transition time: */
    --general-transition-time: 400ms;

}

/* * We set our universal settings */
* {

    font-size: var(--normal-font-size);

    font-family: var(--global-font);

    color: var(--font-color);

    font-weight: 600;

}


/* *We set our boy display for center our motherbox */
body{

    display: flex;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0%;

    

}


/* * GLOBAL CLASSES: */

/* * Here we set our main contaier dimensions */
.motherBox{

    width: 100%;
    height: fit-content;

}

.pageSection{

    width: 100%;
    height: 100vh;

    display: flex;


}

.title{

    font-size: var(--title-size);

    width: fit-content;
    height: fit-content;

}

.subTitle{

    font-size: var(--sub-titles-size);

    width: fit-content;
    height: fit-content;


}

.mainTitle{

    font-size: var(--main-titles-size);

    width: fit-content;
    height: fit-content;

    color: var(--main-title-color);

}

.singleComponent{

    background-color: var(--component-color);

    width: 100%;
    height: 15vh;

}

.accessIcon{

    width: var(--access-icon-width);
    height: var(--access-icon-height);

}

.appButton{

    width: var(--app-button-width);
    height: var(--app-button-height);

    background-color: var(--app-button-color);

    color: var(--app-button-color-text);

    border-radius: var(--app-button-radius);

    border-style: hidden;

    display: flex; 
    align-items: center;

    gap: 10%;

    transition: all var(--general-transition-time);

}

.appButton:hover{

    scale: 1.03;

    background-color: var(--app-button-hover-color);

}

.appButtonLink{

    color: var(--app-button-color-text);
    text-decoration: none;

}

.sectionMainTitle{

    color: var(--font-color);
    width: 100%;
    height: 10%;
    text-align: center;

    background-color: var(--background-color);

    font-size: var(--main-titles-size);
}

.sectionMainTitleSpan{

    color: var(--main-section-title-span-color);
    font-size: var(--section-main-title-span);

}


/* *COMPONENT CLASSES: */

/* * NAV BAR: */

#navBar{

    height: 10vh;

    display: flex;

    width: fit-content;

    align-items: center;

    gap:2%;

    width: 100%;

}

#navOptionsList{

    display: flex;

    width: 65%;

    gap: 5%;

    margin-left: 3%;

}

.navOption{

    text-decoration: none;

    color: whitesmoke;

    font-size: var(--link-font-size);

    transition: all var(--general-transition-time);

}

.navOption:hover{

    color: var(--hover-main);
    scale: 1.005;

}

#pageLogoSpan{

    color: var(--main-span-color);

    transition: all var(--general-transition-time);

}

#pageLogoSpan:hover{

    color: var(--hover-main-span);

}

#logoTitle{

    transition: all var(--general-transition-time);

}

#logoTitle:hover{

    color: var(--hover-main);

}

.logo{

    text-decoration: none;

    width: 20%;
    height: fit-content;

    transition: all var(--general-transition-time);

    display: flex;
    align-items: center;

}

.logo:hover{

    scale: 1.02;

}

#logoIcon{

    border-radius: 100%;

}


/* * MAIN SLIDER COMPONENT: */
.sliderImageContainer{

    width: var(--slider-image-container-width);
    height: var(--slider-image-container-height);

    display: flex;
    justify-content: center;
    align-items: end;

}

#webAppImage{

    width: var(--web-app-image-width);
    height: var(--web-app-image-height) ;

    animation: float 2s linear infinite;
    transition: all var(--general-transition-time);

}

#phoneAppImage{

    width: var(--phone-app-image-width) ;
    height: var(--phone-app-image-height);

    animation: float 2s linear infinite;
    transition: all var(--general-transition-time);

}

/* *Animation of the images */
@keyframes float {

    0%, 100%{

        transform: translateY(0rem);

    }

    50%{

        transform: translateY(var(--slider-animation-translate-size));

    }

}

.mainSliderImage:hover{

    scale: 1.03;

}

.mainSliderImageLink{

    width: fit-content;
    height: fit-content;

}



/* *INFO BOX COMPONENT CLASSES: */

#mainText{

    width: fit-content;
    height: fit-content;

    color: var(--font-color);

}

#infoBox{

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-flow: column;
    align-items: center;

}

#buttonsContainer{

    display: flex;

    gap: 5%;

}


/* * Services components: */

#servicesContainer{

    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;

}

.service{

    width: 33.33%;
    height: fit-content;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.serviceTitle{

    font-size: var(--service-title-font-size);
    width: 100%;
    height: fit-content;

    text-align: center;

}


.serviceTitleSpan{

    color: var(--service-title-span-color);
    font-size: var(--service-title-span-size);

}


/* * Benefits Component classes: */

.benefitComponent{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 45%;
    height: 95%;

}

.benfitsContainer{

    display: flex;

    justify-content: center;
    align-items: end;

    width: 100%;
    height: 45%;

}

#benefitsMainTitle{

    margin-top: 0;

}

.benefitTitle{

    font-size: var(--benefit-title-font-size);
    color: var(--font-color);

    width: fit-content;
    height: fit-content;

    margin-bottom: 8.5%;

}

.benefitTitleSpan{

    font-size: var(--benefit-title-span-font-size);
    color: var(--benefit-title-span-color);

}



/* * SECTION STYLES */

/* *Main section : */
#infoBoxSection{

    width: 55%;
    height: 85%;

    padding-left: 3%;
    padding-top: 12%;

}

#sliderSection{

    width: 45%;
    height:  85%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#mainSection{

    height: 95vh;

}

/* * Services Section: */

.sectionForServices{

    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2%;

}

#servicesSection{

    display: flex;
    flex-direction: column;

    background-color: white;

}


/* *Benefits section styles: */

#benefitsSection{

    display: flex;
    flex-direction: column;

    background-color: white;

}

