/* *Here we import our global font for our page: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *Here we set our global vars value: */
:root{

    /* * global font style: */
    --global-font: "Poppins", sans-serif;

    /* *Titles size */
    --main-titles-size:2.3rem;
    --sub-titles-size:1.5rem;
    --title-size:1.2rem;

    /* * Font size */
    --normal-font-size:1rem;

    /* * Links size: */
    --link-font-size:1.1rem;

    /* *Icons size */
    --access-icon-width: 2.5rem;
    --access-icon-height: 2.5rem;


    /* * Images size: */

    /* * Buttons size: */
    --app-button-width: 35%;
    --app-button-height: 3rem;

    /* * Colors of the page */
    --font-color:#212529;

    --background-color: color-mix(in srgb-linear, white 33%, #0ceee3 67%);

    --component-color: #3f5bd6;

    --main-title-color: #023028;
    --main-span-color: #062e49;

    --hover-main: #067260;
    --hover-main-span: #0d588a;

    --app-button-color: #2342cf;

    --app-button-color-text:whitesmoke;

    /* * General transition time: */
    --general-transition-time: 300ms;

}

/* * We set our universal settings */
* {

    font-size: var(--normal-font-size);

    font-family: var(--global-font);

    color: var(--font-color);

    font-weight: 600;

}

/* *We set our boy display for center our motherbox */
body{

    display: flex;
    flex-flow: column;
    align-items: center;

    background-color:var(--background-color);

}


/* * GLOBAL CLASSES: */

/* * Here we set our main contaier dimensions */
.motherBox{

    width: 80%;
    height: fit-content;

    display: flex;
    flex-flow: column;

    background: white;

}

.pageSection{

    width: 100%;
    height: 90vh;

    display: flex;

}

.title{

    font-size: var(--title-size);

    width: fit-content;
    height: fit-content;

}

.subTitle{

    font-size: var(--sub-titles-size);

    width: fit-content;
    height: fit-content;


}

.mainTitle{

    font-size: var(--main-titles-size);

    width: fit-content;
    height: fit-content;

    color: var(--main-title-color);

}

.singleComponent{

    background-color: var(--component-color);

    width: 96%;
    height: 16vh;

    padding: 2%;

}

.accessIcon{

    width: var(--access-icon-width);
    height: var(--access-icon-height);

}

.appButton{

    width: var(--app-button-width);
    height: var(--app-button-height);

    background-color: var(--app-button-color);

    color: var(--app-button-color-text);

    border-radius: 1rem;

    border-style: hidden;

    display: flex; 
    align-items: center;

    gap: 3%;

    transition: all 450ms;

}

.appButton:hover{

    scale: 1.03;

}

.appButtonLink{

    color: var(--app-button-color-text);
    text-decoration: none;

}


/* *COMPONENT CLASSES: */

/* * NAV BAR: */

#navBar{

    height: 5vh;

    display: flex;

    align-items: center;

}

#navOptionsList{

    display: flex;

    width: 65%;

    gap: 5%;

    margin-left: 3%;

}

.navOption{

    text-decoration: none;

    font-size: var(--link-font-size);

    transition: all var(--general-transition-time);

}

.navOption:hover{

    color: azure;
    scale: 1.02;

}

#pageLogoSpan{

    color: var(--main-span-color);

    transition: all var(--general-transition-time);

}

#pageLogoSpan:hover{

    color: var(--hover-main-span);

}

#logoTitle{

    transition: all var(--general-transition-time);

}

#logoTitle:hover{

    color: var(--hover-main);

}

.logo{

    text-decoration: none;

    width: 20%;

    transition: all var(--general-transition-time);

}

.logo:hover{

    scale: 1.02;

}


/* * MAIN SLIDER COMPONENT: */
.sliderImageContainer{

    width: 800px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: end;

}

#webAppImage{

    width: 740px;
    height: 440px;

}

#phoneAppImage{

    width: 350px;
    height: 500px;

}

/* *Animation of the images */
@keyframes float {

    0%, 100%{

        transform: translateY(0rem);

    }

    50%{

        transform: translateY(1rem);

    }

}

.mainSliderImage{

    animation: float 2s linear infinite;
    transition: all 400ms;

}

.mainSliderImage:hover{

    scale: 1.03;

}

.mainSliderImageLink{

    width: fit-content;
    height: fit-content;

}



/* *INFO BOX COMPONENT CLASSES: */

#mainText{

    width: fit-content;
    height: fit-content;

    color: var(--font-color);

}

#infoBox{

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-flow: column;
    align-items: center;

}

#buttonsContainer{

    display: flex;

    gap: 5%;

}


/* * Services components: */

#servicesContainer{

    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;

}

.service{

    width: 420px;
    height: 470px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.serviceTitle{

    font-size: 1.5rem;
    width: 100%;
    height: fit-content;

    text-align: center;

}

#servicesMainTitle{

    color: var(--font-color);
    width: 100%;
    height: 10%;
    text-align: center;

}

/* * SECTION STYLES */

/* *Main section : */
#infoBoxSection{

    width: 55%;
    height: 85%;

    padding-left: 3%;
    padding-top: 12%;

}

#sliderSection{

    width: 45%;
    height:  85%;

    display: flex;
    justify-content: center;
    align-items: center;

}


/* * Services Section: */

.sectionForServices{

    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2%;

}

#servicesSection{

    display: flex;
    flex-direction: column;

}